*{margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: 'Oswald', sans-serif;
 }
html{
	 scroll-behavior: smooth;
 }
 body { 
	 background: url(mapa.jpg);
 }
#ok {
  background-color:#aaaaaa;
  max-width: 1000px;
  margin: 0 auto;
}
#obr {
width: 100%;  
}

nav{
	
background-color:#330000;   
    
}
nav a{
display: inline-block;
width:247px;
padding: 10px 10px;
text-align: center;
color: #ff9900;
text-decoration: none;
font-size:25px;
}
nav a:hover {
font-size:26px;
background-color:black;
color: red;
}
#ok2 {
margin-top: 30px;
margin-bottom:30px;
}
h1{
text-decoration: none;
margin: 0 0 0 10px ;
font-size:50px;
	}
.lob{
width:50%;
margin:50px 25% 30px 25% ;

}	
p{
margin:10px;
font-size:23px;

}
footer{
background-color:#bbbbbb;	
}
#gg{
	padding: 10px 10px;
	font-size:20px;
	border: 3px solid black;
	display: inline-block;
	text-align: center;
	width:33%;
	height: 40px;
	color:purple;
	
}
